<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <style>
        .table-block, .crud {
            float: left;
            margin: 0 15px 15px 0;
        }

        .update-block, .delete-block, .create-block {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="mdc-data-table table-block">
    <div class="mdc-data-table__table-container">
        <table class="mdc-data-table__table" aria-label="Dessert calories">
            <thead>
            <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ID</th>
                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader"
                    scope="col">Имя
                </th>
                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader"
                    scope="col">Фамилия
                </th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Логин</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Email</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Действие</th>
            </tr>
            </thead>
            <tbody class="mdc-data-table__content" th:each="user : ${users}">
            <tr class="mdc-data-table__row">
                <th class="mdc-data-table__cell" th:text="${user.getId()}"></th>
                <td class="mdc-data-table__cell" th:text="${user.getFirstName()}"></td>
                <td class="mdc-data-table__cell" th:text="${user.getLastName()}"></td>
                <td class="mdc-data-table__cell" th:text="${user.getUsername()}"></td>
                <td class="mdc-data-table__cell" th:text="${user.getEmail()}"></td>
                <td class="mdc-data-table__cell">
                    <form th:method="DELETE" th:action="@{/admin(id=${user.getId()})} " th:object="${user}">
                        <div class="mdc-card mdc-card--outlined delete-block">
                            <button type="submit" name="id" class="mdc-button mdc-card__action mdc-card__action--button" id="delete-button">
                                <div class="mdc-button__ripple" ></div>
                                <span class="mdc-button__label">Удалить</span>
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="crud">
    <form th:method="POST" th:action="@{/admin}" th:object="${user}" accept-charset="UTF-8">
        <div class="mdc-card mdc-card--outlined create-block">

            <label class="mdc-text-field mdc-text-field--filled " id="name-create">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Имя</span>
                <input class="mdc-text-field__input" type="text" th:field="*{firstName}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>

            <label class="mdc-text-field mdc-text-field--filled" id="last-name-create">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Фамилия</span>
                <input class="mdc-text-field__input" type="text" th:field="*{lastName}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field--filled" id="email-create">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Email</span>
                <input class="mdc-text-field__input" type="text" th:field="*{email}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field--filled" id="username-create">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Логин</span>
                <input class="mdc-text-field__input" type="text" th:field="*{username}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field--filled" id="password-create">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Пароль</span>
                <input class="mdc-text-field__input" type="text" th:field="*{password}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field--filled" id="role-create">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Роль</span>
                <input class="mdc-text-field__input" type="text" name="role" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <button class="mdc-button mdc-card__action mdc-card__action--button" id="create-button" type="submit">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Добавить пользователя</span>
            </button>
        </div>
    </form>
    <form th:method="PATCH" th:action="@{/admin}" th:object="${user}">
        <div class="mdc-card mdc-card--outlined update-block">
            <label class="mdc-text-field mdc-text-field--filled" id="update-id">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">ID</span>
                <input class="mdc-text-field__input" type="text" th:field="*{id}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field--filled" id="name-update">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Имя</span>
                <input class="mdc-text-field__input" type="text" th:field="*{firstName}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>

            <label class="mdc-text-field mdc-text-field--filled" id="last-name-update">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Фамилия</span>
                <input class="mdc-text-field__input" type="text" th:field="*{lastName}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field--filled" id="email-update">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Email</span>
                <input class="mdc-text-field__input" type="text" th:field="*{email}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field--filled" id="login-update">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Логин</span>
                <input class="mdc-text-field__input" type="text" th:field="*{username}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>

            <label class="mdc-text-field mdc-text-field--filled" id="password-update">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label">Пароль</span>
                <input class="mdc-text-field__input" type="text" th:field="*{password}" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <button class="mdc-button mdc-card__action mdc-card__action--button" id="update-button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Редактировать пользователя</span>
            </button>
        </div>
    </form>
</div>
<form th:method="POST" th:action="@{/logout}">
    <button class="mdc-button mdc-card__action mdc-card__action--button">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Выйти</span>
    </button>
</form>
<script type="text/javascript">
    mdc.textField.MDCTextField.attachTo(document.querySelector('#name-create'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#role-create'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#password-create'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#username-create'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#last-name-create'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#email-create'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#update-id'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#name-update'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#last-name-update'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#email-update'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#password-update'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#username-update'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#role-update'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#delete-id'));
    mdc.ripple.MDCRipple.attachTo(document.querySelector('#update-button'));
    mdc.ripple.MDCRipple.attachTo(document.querySelector('#delete-button'));
    mdc.ripple.MDCRipple.attachTo(document.querySelector('#create-button'));
</script>
</body>
</html>