<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Frontend CSS -->
    <title sec:authorize="hasRole('USER')">Страница пользователя</title>
    <title sec:authorize="hasRole('ADMIN')">Админ панель</title>
    <style>
        .navbar-text {
            margin-left: 7px;
            font-size: x-large;
            color: #e3f2fd;
        }

        .navbar-nav {
            position: absolute;
            right: 10px;
        }

        .email-text {
            font-weight: bolder;
        }

        .col-3 {
            max-width: 300px;
            height: 100vh;
            background-color: white;
        }

        .content {
            height: 100vh;
            background-color: #f8f9fa;
        }

        .panel {
            margin-left: 15px;
            margin-top: 15px;
        }

        .panel h1 {
            margin-bottom: 20px;
        }

        #nav-tabContent {
            background-color: white;
            border-radius: 0 0 10px 10px;
        }

        .alert {
            margin-bottom: 0;
        }

        #nav-table {
            margin: 0 20px 20px;
            padding-top: 20px;
            padding-bottom: 30px;
        }

        #nav-create {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #nav-create-form {
            width: 400px;
            margin: 0 auto;
            align-items: center;
        }

        #nav-create-form button {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }

        #about-block {
            background-color: white;
            padding: 20px 20px 30px;
        }
    </style>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-text email-text text-white" th:text="${authUser.getEmail()}">
            user@user
        </span>
        <span class="navbar-text text-white">
            в роли:
        </span>
        <div id="" th:each="role : ${authUser.getRoles()}" th:switch="${role.getRole()}">
            <span class="navbar-text text-white" th:case="'ROLE_ADMIN'">ADMIN</span>
            <span class="navbar-text text-white" th:case="'ROLE_USER'">USER</span>
        </div>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link logout-link" th:method="POST" th:href="@{/logout}">Выход</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="content">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-admin" aria-selected="true" sec:authorize="hasRole('ADMIN')">Админ</a>
                <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="true">Пользователь</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab" sec:authorize="hasRole('ADMIN')">
                    <div class="panel">
                        <h1>Админ панель</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-table-tab" data-toggle="tab"
                                   href="#nav-table" role="tab" aria-controls="nav-table" aria-selected="true"
                                   data-text="Список пользователей">Таблица
                                    пользователей</a>
                                <a class="nav-item nav-link" id="nav-create-tab" data-toggle="tab" href="#nav-create"
                                   role="tab" aria-controls="nav-create" aria-selected="false">Создать пользователя</a>
                            </div>
                        </nav>
                        <div class="alert alert-secondary" id="nav-list-text" role="alert">
                            <strong>Список пользователей</strong>
                        </div>
                        <div class="alert alert-secondary" id="nav-create-text" role="alert">
                            <strong>Создать пользователя</strong>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-table" role="tabpanel"
                                 aria-labelledby="nav-table-tab">

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Фамилия</th>
                                        <th scope="col">Возраст</th>
                                        <th scope="col">Логин</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Роль</th>
                                        <th scope="col">Редактировать</th>
                                        <th scope="col">Удалить</th>
                                    </tr>
                                    </thead>
                                    <tbody id="show-users-table-body">
                                    <tr th:each="correntUser : ${users}">
                                        <td th:text="${correntUser.getId()}"></td>
                                        <td th:text="${correntUser.getFirstName()}"></td>
                                        <td th:text="${correntUser.getLastName()}"></td>
                                        <td th:text="${correntUser.getAge()}"></td>
                                        <td th:text="${correntUser.getUsername()}"></td>
                                        <td th:text="${correntUser.getEmail()}"></td>
                                        <td>
                                            <span th:each="role : ${correntUser.getRoles()}"
                                                  th:switch="${role.getRole()}">
                                                <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                                <span th:case="'ROLE_USER'">USER</span>
                                            </span>
                                            <div th:if="${correntUser.getRoles().isEmpty()}">
                                                <p>NO ROLES</p>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info" data-toggle="modal"
                                                    data-target="#editModal"
                                                    th:data-id="${correntUser.getId()}"
                                                    th:data-email="${correntUser.getEmail()}"
                                                    th:data-firstname="${correntUser.getFirstName()}"
                                                    th:data-lastname="${correntUser.getLastName()}"
                                                    th:data-age="${correntUser.getAge()}"
                                                    th:data-username="${correntUser.getUsername()}">
                                                Редактировать
                                            </button>


                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                    data-target="#deleteModal"
                                                    th:data-id="${correntUser.getId()}"
                                                    th:data-email="${correntUser.getEmail()}"
                                                    th:data-firstname="${correntUser.getFirstName()}"
                                                    th:data-age="${correntUser.getAge()}"
                                                    th:data-lastname="${correntUser.getLastName()}"
                                                    th:data-username="${correntUser.getUsername()}">
                                                Удалить
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
                                <form id="nav-create-form" th:object="${newUser}">
                                    <div class="form-group">
                                        <label for="firstNameCreateInput">Имя</label>
                                        <input type="text" class="form-control" id="firstNameCreateInput"
                                               placeholder="Введите имя" th:field="*{firstName}">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastNameCreateInput">Фамилия</label>
                                        <input type="text" class="form-control" id="lastNameCreateInput"
                                               placeholder="Введите фамилию" th:field="*{lastName}">
                                    </div>
                                    <div class="form-group">
                                        <label for="usernameCreateInput">Логин</label>
                                        <input type="text" class="form-control" id="usernameCreateInput"
                                               placeholder="Введите логин" th:field="*{username}">
                                    </div>
                                    <div class="form-group">
                                        <label for="ageCreateInput">Возраст</label>
                                        <input type="number" class="form-control" id="ageCreateInput"
                                               placeholder="Введите возраст" th:field="*{age}">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailCreateInput">Email</label>
                                        <input type="text" class="form-control" id="emailCreateInput"
                                               placeholder="Введите email" th:field="*{email}">
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordCreateInput">Пароль</label>
                                        <input type="password" class="form-control" id="passwordCreateInput"
                                               placeholder="Введите пароль" th:field="*{password}">
                                    </div>
                                    <div class="form-group">
                                        <label for="roleCreateSelect">Роль</label>
                                        <select multiple class="form-control" id="roleCreateSelect" th:field="*{roles}">
                                            <option th:each="role : ${roles}"
                                                    th:switch="${role.getRole()}"
                                                    th:value="${role.getRole()}">
                                                <p th:case="'ROLE_ADMIN'">ADMIN</p>
                                                <p th:case="'ROLE_USER'">USER</p>
                                            </option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-success"
                                            id="nav-create-form-btn">Добавить
                                        пользователя
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-profile-user">
                    <div class="panel">
                        <h1>Информационная страница</h1>
                        <div class="alert alert-secondary" role="alert">
                            <strong>О пользователе</strong>
                        </div>
                        <div id="about-block">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Возраст</th>
                                    <th scope="col">Логин</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Роль</th>
                                </tr>
                                </thead>
                                <tbody id="info-table" th:data-id="${authUser.getId()}">
                                <tr>
                                    <th th:text="${authUser.getId()}"></th>
                                    <td th:text="${authUser.getFirstName()}"></td>
                                    <td th:text="${authUser.getLastName()}"></td>
                                    <td th:text="${authUser.getAge()}"></td>
                                    <td th:text="${authUser.getUsername()}"></td>
                                    <td th:text="${authUser.getEmail()}"></td>
                                    <td>
                                        <div th:each="role : ${authUser.getRoles()}" th:switch="${role.getRole()}">
                                            <p th:case="'ROLE_ADMIN'">ADMIN</p>
                                            <p th:case="'ROLE_USER'">USER</p>
                                        </div>
                                        <div th:if="${authUser.getRoles().isEmpty()}">
                                            <p>NO ROLES</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true" sec:authorize="hasRole('ADMIN')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удалить
                        пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="deleteForm" th:method="DELETE">

                        <div class="form-group">
                            <label for="idDeleteTextInput">ID</label>
                            <input type="text" id="idDeleteTextInput"
                                   class="form-control" readonly="" name="id">
                        </div>
                        <fieldset disabled>
                            <div class="form-group">
                                <label for="firstNameDeleteInput">Имя</label>
                                <input type="text" class="form-control"
                                       id="firstNameDeleteInput">
                            </div>
                            <div class="form-group">
                                <label for="lastNameDeleteInput">Фамилия</label>
                                <input type="text" class="form-control"
                                       id="lastNameDeleteInput">
                            </div>
                            <div class="form-group">
                                <label for="ageDeleteInput">Возраст</label>
                                <input type="number" class="form-control"
                                       id="ageDeleteInput">
                            </div>
                            <div class="form-group">
                                <label for="usernameDeleteInput">Логин</label>
                                <input type="text" class="form-control"
                                       id="usernameDeleteInput">
                            </div>
                            <div class="form-group">
                                <label for="emailDeleteInput">Email</label>
                                <input type="text" class="form-control"
                                       id="emailDeleteInput">
                            </div>
                            <div class="form-group">
                                <label for="passwordDeleteInput">Пароль</label>
                                <input type="password" class="form-control"
                                       id="passwordDeleteInput">
                            </div>
                            <div class="form-group">
                                <label for="deleteFormControlSelect">Роль</label>
                                <select multiple class="form-control"
                                        id="deleteFormControlSelect" name="role">
                                    <option th:each="role : ${roles}"
                                            th:switch="${role.getRole()}"
                                            th:value="${role.getRole()}">
                                        <p th:case="'ROLE_ADMIN'">ADMIN</p>
                                        <p th:case="'ROLE_USER'">USER</p>
                                    </option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Закрыть
                    </button>
                    <button type="submit" class="btn btn-primary btn-danger" form="deleteForm">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true" sec:authorize="hasRole('ADMIN')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Редактировать
                        пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateForm" th:object="${patchUser}">
                        <div class="form-group">
                            <label for="idDisabledTextInput">ID</label>
                            <input type="text" id="idDisabledTextInput"
                                   class="form-control" readonly="" th:field="*{id}">
                        </div>
                        <div class="form-group">
                            <label for="firstNameEditInput">Имя</label>
                            <input type="text" class="form-control"
                                   id="firstNameEditInput"
                                   th:field="*{firstName}">
                        </div>
                        <div class="form-group">
                            <label for="lastNameEditInput">Фамилия</label>
                            <input type="text" class="form-control"
                                   id="lastNameEditInput"
                                   th:field="*{lastName}">
                        </div>
                        <div class="form-group">
                            <label for="ageEditInput">Возраст</label>
                            <input type="number" class="form-control"
                                   id="ageEditInput"
                                   th:field="*{age}">
                        </div>
                        <div class="form-group">
                            <label for="usernameEditInput">Логин</label>
                            <input type="text" class="form-control"
                                   id="usernameEditInput"
                                   th:field="*{username}">
                        </div>
                        <div class="form-group">
                            <label for="emailEditInput">Email</label>
                            <input type="text" class="form-control"
                                   id="emailEditInput"
                                   th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label for="passwordEditInput">Пароль</label>
                            <input type="password" class="form-control"
                                   id="passwordEditInput"
                                   th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <label for="roleEditInput">Роль</label>
                            <select multiple class="form-control"
                                    id="roleEditInput" th:field="*{roles}">
                                <option th:each="role : ${roles}"
                                        th:switch="${role.getRole()}"
                                        th:value="${role.getRole()}">
                                    <p th:case="'ROLE_ADMIN'">ADMIN</p>
                                    <p th:case="'ROLE_USER'">USER</p>
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Закрыть
                    </button>
                    <button type="submit" class="btn btn-primary" form="updateForm">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script sec:authorize="hasRole('ADMIN')">
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var userId = button.data('id')
        var userFirstName = button.data('firstname')
        var userAge = button.data('age')
        var userLastName = button.data('lastname')
        var userEmail = button.data('email')
        var userUsername = button.data('username')

        var modal = $(this)
        modal.find('#idDeleteTextInput').val(userId)
        modal.find('#firstNameDeleteInput').val(userFirstName)
        modal.find('#ageDeleteInput').val(userAge)
        modal.find('#lastNameDeleteInput').val(userLastName)
        modal.find('#emailDeleteInput').val(userEmail)
        modal.find('#usernameDeleteInput').val(userUsername)
        modal.find('#deleteForm').attr("action", "/?id=" + userId)
    })

    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var userId = button.data('id')
        var userAge = button.data('age')
        var userFirstName = button.data('firstname')
        var userLastName = button.data('lastname')
        var userEmail = button.data('email')
        var userUsername = button.data('username')

        var modal = $(this)
        modal.find('#idDisabledTextInput').val(userId)
        modal.find('#firstNameEditInput').val(userFirstName)
        modal.find('#ageEditInput').val(userAge)
        modal.find('#lastNameEditInput').val(userLastName)
        modal.find('#emailEditInput').val(userEmail)
        modal.find('#usernameEditInput').val(userUsername)
        modal.find('#updateForm').attr("action", "/?id=" + userId)
    })
    $(document).ready(function () {
        $("#nav-create-text").hide();
        $("#nav-table-tab").click(function () {
            $("#nav-create-text").hide();
            $("#nav-list-text").show()
        });
        $("#nav-create-tab").click(function () {
            $("#nav-list-text").hide();
            $("#nav-create-text").show()
        });
    });
</script>
<script sec:authorize="hasRole('USER')">
    $('#v-pills-tab a[href="#v-pills-user"]').tab('show')
</script>
<script sec:authorize="hasRole('ADMIN')">
    const url = 'http://localhost:8080/api/users'
    const getData = async (url) => {
        const response = await fetch(url)
        if (!response.ok) {
            throw new Error(`Ошибка по адресу ${url}`)
        }
        return await response.json()
    }
    const sendDataJSON = async (url, data, method) => {
        const response = await fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json', // отправляемые данные
            },
            body: JSON.stringify(data)
        })
            .catch(() => console.log("Ошибка"))

        return await response.json()
    }
    const sendData = async (url, data, method) => {
        const response = await fetch(url, {
            method: method,
            body: data
        }).catch(() => console.log("Ошибка"))

        return await response.json()
    }
    const sendFormCreate = async () => {
        const userForm = document.querySelector('#nav-create-form')
        userForm.addEventListener('submit', e => {
            e.preventDefault()
            let formData = new FormData(userForm)
            formData = Object.fromEntries(formData)
            getData('http://localhost:8080/api/roles').then((response) => {
                for (let i = 0; i < 2; i++) {
                    if (formData.roles === response[i].role) {
                        formData.roles = [response[i]]
                    }
                }
                sendDataJSON('http://localhost:8080/api/users', formData, 'POST')
                    .then((response) => {
                        console.log(response);
                        userForm.reset()
                        $('#nav-tab a[href="#nav-table"]').tab('show')
                    })
                    .then(() => {
                        getData("http://localhost:8080/api/users/")
                            .then((response) => {
                                fillTable(response, '#show-users-table-body')
                            })
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            })
        })
    }
    const sendFormUpdate = async () => {
        const userForm = document.querySelector('#updateForm')
        const userInfoTable = document.querySelector('#info-table')
        userForm.addEventListener('submit', e => {
            e.preventDefault()
            let formData = new FormData(userForm)
            formData = Object.fromEntries(formData)
            getData('http://localhost:8080/api/roles').then((response) => {
                for (let i = 0; i < 2; i++) {
                    if (formData.roles === response[i].role) {
                        formData.roles = [response[i]]
                    }
                }
                sendDataJSON('http://localhost:8080/api/users', formData, 'PUT')
                    .then((response) => {
                        if(response.id + "" === userInfoTable.getAttribute("data-id")){
                            fillInfoTable(response, userInfoTable)
                        }
                        $('#editModal').modal('hide')
                    })
                    .then(() => {
                        getData("http://localhost:8080/api/users/").then((response) => {
                            fillTable(response, '#show-users-table-body')
                        })
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            })
        })
    }
    const sendDelete = async () => {
        const userForm = document.querySelector('#deleteForm')
        userForm.addEventListener('submit', e => {
            e.preventDefault()
            let formData = new FormData(userForm)
            sendData("http://localhost:8080/api/users/" + formData.get('id'), null, 'DELETE')
                .then((response) => {
                    console.log(response)
                    $('#deleteModal').modal('hide')
                    getData("http://localhost:8080/api/users/")
                        .then((response) => {
                            fillTable(response, '#show-users-table-body')
                        })
                })
                .catch((err) => {
                    console.log(err)
                })
        })
    }
    const fillTable = async (arrData, selector) => {
        let table = document.querySelector(selector);
        while (table.firstChild) {
            table.firstChild.remove()
        }
        for (let i = 0; i < arrData.length; i++) {
            const tr = document.createElement('tr');
            const tdId = document.createElement('td');
            const tdFirstName = document.createElement('td');
            const tdLastName = document.createElement('td');
            const tdEmail = document.createElement('td');
            const tdAge = document.createElement('td');
            const tdUsername = document.createElement('td');
            const tdRole = document.createElement('td');
            const tdEditButton = document.createElement('td')
            const editButton = document.createElement('button')
            const tdDeleteButton = document.createElement('td')
            const deleteButton = document.createElement('button')

            const attributesSet = {
                'type': 'button',
                'class': 'btn btn-info',
                'data-toggle': 'modal',
                'data-target': '#editModal',
                'data-id': arrData[i].id,
                'data-email': arrData[i].email,
                'data-firstname': arrData[i].firstName,
                'data-age': arrData[i].age,
                'data-username': arrData[i].username,
                'data-lastname': arrData[i].lastName
            }

            editButton.append('Редактировать')
            for (let key in attributesSet) {
                editButton.setAttribute(key, attributesSet[key]);
            }
            tdEditButton.appendChild(editButton)

            attributesSet.class = 'btn btn-danger'
            attributesSet["data-target"] = '#deleteModal'
            deleteButton.append('Удалить')
            for (let key in attributesSet) {
                deleteButton.setAttribute(key, attributesSet[key]);
            }
            tdDeleteButton.appendChild(deleteButton)

            tdId.append(arrData[i].id)
            tr.appendChild(tdId);
            tdFirstName.append(arrData[i].firstName)
            tr.appendChild(tdFirstName);
            tdLastName.append(arrData[i].lastName)
            tr.appendChild(tdLastName);
            tdEmail.append(arrData[i].email)
            tr.appendChild(tdEmail);
            tdAge.append(arrData[i].age)
            tr.appendChild(tdAge);
            tdUsername.append(arrData[i].username)
            tr.appendChild(tdUsername);
            for (let j = 0; j < arrData[i].roles.length; j++) {
                if (arrData[i].roles[j].role === 'ROLE_ADMIN') {
                    tdRole.append('ADMIN')
                } else if (arrData[i].roles[j].role === 'ROLE_USER') {
                    tdRole.append('USER')
                }
            }
            tr.appendChild(tdRole);
            tr.appendChild(tdEditButton)
            tr.appendChild(tdDeleteButton)
            table.appendChild(tr);
            console.log(arrData)
        }
    }
    const fillInfoTable = async (data, selector) => {
        let table = selector;
        while (table.firstChild) {
            table.firstChild.remove()
        }
        const tr = document.createElement('tr');
        const tdId = document.createElement('td');
        const tdFirstName = document.createElement('td');
        const tdLastName = document.createElement('td');
        const tdEmail = document.createElement('td');
        const tdAge = document.createElement('td');
        const tdUsername = document.createElement('td');
        const tdRole = document.createElement('td');

        tdId.append(data.id)
        tr.appendChild(tdId);
        tdFirstName.append(data.firstName)
        tr.appendChild(tdFirstName);
        tdLastName.append(data.lastName)
        tr.appendChild(tdLastName);
        tdEmail.append(data.email)
        tr.appendChild(tdEmail);
        tdAge.append(data.age)
        tr.appendChild(tdAge);
        tdUsername.append(data.username)
        tr.appendChild(tdUsername);
        for (let j = 0; j < data.roles.length; j++) {
            if (data.roles[j].role === 'ROLE_ADMIN') {
                tdRole.append('ADMIN')
            } else if (data.roles[j].role === 'ROLE_USER') {
                tdRole.append('USER')
            }
        }
        tr.appendChild(tdRole);
        table.appendChild(tr);
        console.log(data)
    }
    sendFormCreate()
    sendFormUpdate()
    sendDelete()
</script>
</body>
</html>