<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <style>
            .mdc-card__actions, .mdc-card__content {
                padding: 16px;
            }

            .mdc-card__actions {
                margin: 0 auto;
                max-width: 700px;
            }

            .mdc-list-item {
                margin-bottom: 10px;
            }

            .mdc-card {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                height: 350px;
                width: 350px;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Информация о пользователе</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
              rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    </head>
</head>
<body>
<div class="mdc-card" th:object="${user}">
    <div class="mdc-card__content">
        <ul class="mdc-list mdc-list--two-line">
            <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">Имя</span>
                    <span class="mdc-list-item__secondary-text" th:text="${user.getFirstName()}"></span>
                </span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">Фамилия</span>
                    <span class="mdc-list-item__secondary-text" th:text="${user.getLastName()}"></span>
                </span>
            </li>

            <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">Логин</span>
                    <span class="mdc-list-item__secondary-text" th:text="${user.getUsername()}"></span>
                </span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">Email</span>
                    <span class="mdc-list-item__secondary-text" th:text="${user.getEmail()}"></span>
                </span>
            </li>
        </ul>
    </div>
    <div class="mdc-card__actions">
        <form th:method="GET" th:action="@{/admin}" sec:authorize="hasRole('ADMIN')">
            <button class="mdc-button mdc-card__action mdc-card__action--button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Админ панель</span>
            </button>
        </form>
        <form th:method="POST" th:action="@{/logout}">
            <button class="mdc-button mdc-card__action mdc-card__action--button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Выйти</span>
            </button>
        </form>
    </div>
</div>
</body>
<script type="texst/javascript">
</script>
</html>